<%- include("partials/header.ejs") %>


<div class="container-change col-xxl-8 px-4 py-5">
       
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <input type="text" class="form-control mb-3" id="firstName" placeholder="Your name" value=""  required="">
        <input type="text" class="form-control mb-3" id="firstName" placeholder="your email" value=""  required="">
        <input type="text" class="form-control mb-3" id="firstName" placeholder="your subject" value=""  required="">
        <input type="text" class="form-control mb-3" id="message" placeholder="your message" value=""  required="">
        <button type="button" class="btn btn-secondary btn-lg px-4 me-md-2" action="post">Submit</button>
      </div>
</div>
</div>
<%- include("partials/footer.ejs") %>
